[ng-pane-manager] {
    position: relative;
    overflow: hidden;
    background-color: rgb(227, 227, 227);
}

.ng-pane-manager-panel-container, 
.ng-pane-manager-vsplit, 
.ng-pane-manager-hsplit,
.ng-pane-manager-tabsplit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

.ng-pane-manager-container {
    position: absolute;
}

.ng-pane-manager-floating-container {
    position: absolute;
    opacity: 0.5;
    z-index: 3;
    width: 300px;
    height: 200px;
}

.ng-pane-manager-hidden {
    display: none;
}

.ng-pane-manager-header {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    align-content: center;
}

.ng-pane-manager-header, .ng-pane-manager-tab {
    color: white;
    background-color: black;
    user-select: none;
    cursor: default;
}

.ng-pane-manager-title {
    display: flex;
    padding: 4px;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    min-width: 0;
}

.ng-pane-manager-icon {
    flex: 0 0 auto;
    vertical-align: top;
    padding-right: 4px;
}

.ng-pane-manager-title-text {
    flex: 1 1 auto;
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ng-pane-manager-close {
    display: flex;
    padding: 4px;
    flex: 0 0 auto;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
}

.ng-pane-manager-contents {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgb(227, 227, 227);
}

.ng-pane-manager-border {
    position: absolute;
    background-color: black;
    z-index: 1;
}

.ng-pane-manager-border-invisible {
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.ng-pane-manager-vertical-border {
    bottom: 0px;
}

.ng-pane-manager-horizontal-border {
    left: 0px;
    right: 0px;
}

.ng-pane-manager-separator.ng-pane-manager-vertical-border {
    cursor: col-resize;
}

.ng-pane-manager-separator.ng-pane-manager-horizontal-border {
    cursor: row-resize;
}

.ng-pane-manager-left {
    position: absolute;
    left: 0;
    height: 100%;
}

.ng-pane-manager-right {
    position: absolute;
    right: 0;
    height: 100%;
}

.ng-pane-manager-top {
    position: absolute;
    top: 0;
    width: 100%;
}

.ng-pane-manager-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ng-pane-manager-tab-nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(200, 200, 200);
}

.ng-pane-manager-tab {
    position: relative;
    display: inline-flex;
    background-color: gray;
    height: 100%;
    flex-direction: row;
}

.ng-pane-manager-tab-active {
    background-color: black;
}

.ng-pane-manager-drop-visual {
    z-index: 2;
    background-color: rgba(0, 200, 255, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 200, 255);
    box-sizing: border-box;
}

.ng-pane-manager-abs-drop-visual {
    position: absolute;
}

.ng-pane-manager-drop-visual-top {
    top: 0;
    right: 0;
    left: 0;
}

.ng-pane-manager-drop-visual-right {
    top: 0;
    bottom: 0;
    right: 0;
}

.ng-pane-manager-drop-visual-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}

.ng-pane-manager-drop-visual-left {
    top: 0;
    bottom: 0;
    left: 0;
}

.ng-pane-manager-drop-visual-whole {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ng-pane-manager-drop-visual-tab {
    display: inline-block;
    height: 100%;
}

.ng-pane-manager-drop-visual-tab-on-panel {
    position: absolute;
}
