[ng-pane-manager]  {
    background-color: rgb(14, 14, 14);
}

.ng-pane-manager-title {
    font-size: 16px;
}

.ng-pane-manager-tab-nav {
    background-color: rgb(28, 28, 28);
}

.ng-pane-manager-tab {
    background-color: #272727;
}

.ng-pane-manager-header {
    background: linear-gradient(#373737, #272727);
}

.ng-pane-manager-tab-active {
    background: linear-gradient(#273F5E, #262E38);
}

.ng-pane-manager-contents {
    background-color: rgb(28, 28, 28);
}

.ng-pane-manager-border {
    background-color: #272727;
}
