[ng-docker]  {
    background-color: rgb(14, 14, 14);
}

.ng-docker-title {
    font-size: 16px;
}

.ng-docker-tab-nav {
    background-color: rgb(28, 28, 28);
}

.ng-docker-tab {
    background-color: #272727;
}

.ng-docker-header {
    background: linear-gradient(#373737, #272727);
}

.ng-docker-tab-active {
    background: linear-gradient(#273F5E, #262E38);
}

.ng-docker-contents {
    background-color: rgb(12, 12, 12);
}

.ng-docker-border {
    background-color: #272727;
}
